* {
    transition: .3s;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    background: rgba(250, 250, 250, 0.7);
}
.hide {
    z-index: -1;
    opacity: 0.0;
}


.displayed {
    z-index: 1;
    opacity: 1;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

#modal > p{
    background-color: #fff;
    border: 2px solid #4467f4;
    text-align: center;
    border-radius: 2vw;
    width: 96vw;
    height: 10vw;
    line-height: 10vw;

    font-size: 6vw;
    margin: 0;
}

form > * {
    border-radius: 2vmin;
}

form > *:not(p) {
    margin: 0 auto;
    display: block;
}

form > p {
    margin: 8px;
    font-size: 5vmin;
    font-family: 'Noto Sans JP';
}
form > p:first-letter {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #4467f4;
    text-align: center;
    color: #fafafa;
    width: 100%;
    line-height: 8vmin;
    height: 8vmin;
    font-size: 3.5vmin;
}

textarea {
    margin-top: 2vmin;
    width: 87.5vmin;
    height: 54vmin;
    border:1px solid #aaa;

    font-size: 4vmin;
    padding: 2vmin;
}

::placeholder{
    color: #aaa;
}

.btn {
    width: 20vmin;
    height: 10vmin;
    font-size: 4.75vmin;
    text-emphasis: center;
    line-height: 10vmin;
    background-color: #4467f4;
    color: #fafafa;
    border: 2px solid #4467f4;
}

.btn:hover {
    color: #4467f4;
    background-color: #fafafa;
}

.btn:disabled {
    color: #fafafa;
    background-color: #999;
    border: 1px solid #666;
}

#splitContext{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.spinner {
    width: 5vmin;
    height: 5vmin;
    border: 2px #fafafa solid;
    border-top: 2px #999 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

.val{
    text-align: center;
}

.val > * {
    display: -moz-inline-box;
    display: inline;
    zoom: 1;
    margin: 1vmin;
}

#speedval {
    width: 20%;
    font-size: 6vmin;
    border-radius: 1vmin;
    border: 1px solid #aaa;
}