.container {
  /* min-height: 100vh; */
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6vmin;
}

.header{
  background-color: #4467f4;
  color: #fafafa;
  text-decoration: none;
  text-align: center;
  width: 100%;
  line-height: 8vmin;
  height: 8vmin;
  font-size: 3.5vmin;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  user-select: none;
  /* border: 2px solid #4467f4;  */
}

.modal > p{
  background-color: #fff;
  text-align: center;
  border-radius: 2vw;
  width: 96vw;
  height: 12vw;
  line-height: 12vw;
  border: 2px solid #4467f4;
  font-size: 6vw;
  margin: 0;
}

.button {
  height: 10vw;
  width: 26vw;
  margin-left: 35vw;
  margin-right: 35vw;
  margin-top: 10vh;
  border: none;
  background-color: #4467f4;
  color: #fafafa;
  position: absolute;
  border-radius: 5vmin;
  border:1px solid #aaa;
  font-size: 5vmin;
  line-height: 10vmin;
  display: flex;
  
}

.button > div{
  margin-left: auto;
  margin-right: auto;
}


.wrapper {
  width: 90%;
}

.form {
  /* background-color: #faf; */
  display: flex;
  flex-direction: column;
}

.form > label , .form > button{
  margin-top: 5vh;
}

.form > button{
  margin-bottom: 5vh;
}

.form > button, .form > textarea, .val > input{
  border-radius: 1vmin;
  border:1px solid #aaa;
  font-size: 5.5vmin;
}

.form > textarea {
  height: 54vmin;
} 
.form > textarea::placeholder{
  color: #aaa;
}

.val {
  flex-direction: row;
  width: 100%;
  font-size: 0.5em;
  
}

.val > input {
  height: 8vmin;
  width: 20vmin;
  margin-left: 37%;
  text-align: center;
}

.form > button{
  font-size: 4vmin;
  height: 10vmin;
  width: 40vmin;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #4467f4;
  color: #fafafa;
  position: relative;
}
.spinner {
  width: 5vmin;
  height: 5vmin;
  border: 2px #fafafa solid;
  border-top: 2px rgba(0,0,0,0) solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
  z-index: 1;
}

.form > button > *{
  position: absolute;
  line-height: 10vmin;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.form > button:disabled{
  color: #fafafa;
  background-color: #666;
}

@keyframes sp-anime {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.lightfont {
  color: #999;
}